/* Montserrat Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,500i,800');

/* Fancybox 3.5.7 */
body.compensate-for-scrollbar{overflow:hidden}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.9;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:transform,opacity;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:hidden;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px}.fancybox-content{background:#fff;display:inline-block;margin:0;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;transform-origin:top left;transition-property:transform,opacity;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;width:100%}.fancybox-iframe{left:0;position:absolute;top:0}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;box-shadow:none;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;position:relative;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:hover{color:#fff}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button div{height:100%}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:first-child,.fancybox-button--pause svg:first-child,.fancybox-button--play svg:nth-child(2){display:none}.fancybox-progress{background:#ff5268;height:2px;left:0;position:absolute;right:0;top:0;transform:scaleX(0);transform-origin:0;transition-property:transform;transition-timing-function:linear;z-index:99998}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-slide--image.fancybox-is-scaling .fancybox-content{overflow:hidden}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background-clip:content-box;height:100px;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;left:env(safe-area-inset-left);padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0;right:env(safe-area-inset-right)}.fancybox-caption{background:linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);bottom:0;color:#eee;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:75px 44px 25px;pointer-events:none;right:0;text-align:center;z-index:99996}@supports (padding:max(0px)){.fancybox-caption{padding:75px max(44px,env(safe-area-inset-right)) max(25px,env(safe-area-inset-bottom)) max(44px,env(safe-area-inset-left))}}.fancybox-caption--separate{margin-top:-50px}.fancybox-caption__body{max-height:50vh;overflow:auto;pointer-events:all}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{animation:a 1s linear infinite;background:transparent;border:4px solid #888;border-bottom-color:#fff;border-radius:50%;height:50px;left:50%;margin:-25px 0 0 -25px;opacity:.7;padding:0;position:absolute;top:50%;width:50px;z-index:99999}@keyframes a{to{transform:rotate(1turn)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0}.fancybox-close-small{right:-6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}.fancybox-caption{padding-left:12px;padding-right:12px}@supports (padding:max(0px)){.fancybox-caption{padding-left:max(12px,env(safe-area-inset-left));padding-right:max(12px,env(safe-area-inset-right))}}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#ddd;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:rgba(0,0,0,0);top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:6px solid #ff5268;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:576px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}


	body {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		line-height: 1.5;
		background: #fff;
		margin: 0;
		padding: 0;
	}

	html, body { height: 100%; }

	a { 
		text-decoration: none;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all; 
	}

	/* Backgrounds */
		.bg-white { background: #fff; }
		.bg-gray-light { background: #fafafa; }
		.bg-blue-light { background: #eef9ff; }
		.bg-blue-light-2 { background: #dbeef5; }
		.bg-blue-dark { background: #173151; }
		.bg-red-light { background: #ffefee; }
		.bg-red-dark { background: #8b0901; }
		.bg-blue-dark { background: #173151; }
		.bg-green-medium { background: #88af59; }
		.bg-green-dark { background: #466e16; }

		.bg-gray-dark { background:#eaeaea;}

		

		.bs {
			box-shadow: 1px 3px 20px rgba(0,0,0,0.1);
			-moz-box-shadow: 1px 3px 20px rgba(0,0,0,0.1);
			-webkit-box-shadow: 1px 3px 20px rgba(0,0,0,0.1);
		}


	/* Text */
	    em { font-family: 'Montserrat', sans-serif;}
		.blue { color: #E47A96; }
		.red { color: #8b0901; }
		.white { color: #fff; }
		.green { color: #88af59; }
		.yellow-light { color: #fff2b6; }

		.upper { text-transform: uppercase; }

		.blurred {
			color: transparent;
    		text-shadow: 0 0 13px rgba(0,0,0,0.8);
    	}

		.font-weight-100 { font-weight: 100; }
		.font-weight-300 { font-weight: 300; }
		.font-weight-500 { font-weight: 500; }
		.font-weight-700 { font-weight: 700; }
		.font-weight-900 { font-weight: 900; }
		.font-weight-bold { font-weight: 700; }

		.font-italic { font-style: italic; }

		.font-3em { font-size: 3em; }

		.font-smaller { font-size: 0.7em; }

		.text-glow { text-shadow: 1px 3px 10px rgba(255,255,255,0.5); }


		h1,h2,h3,h4,h5 {line-height: 1.4; }
			h1 {font-size: 2em; font-weight: 800;}
			h2 {font-size: 1.5em; font-weight: 800; margin: 10px 0 30px 0;}
				h2.larger { font-size: 1.8em; }
			h3 {font-size: 1.3em; font-weight: 700;}
				h3.larger { font-size: 1.5em; }

		.padding-sides { padding-left: 15px; padding-right: 15px; }


	.sl1 { display: block;clear: both; padding: 300px 0; }
	.sl2 { display: block;clear: both; padding: 50px 0; }
	.sl3 { display: block;clear: both; padding: 200px 0; }
	.sl4 { display: block;clear: both; padding: 100px 0; }
	.sl5 { display: block;clear: both; padding: 30px 0; }

	.sm1 { display: block;clear: both; padding: 60px 0; }
	.sm2 { display: block;clear: both; padding: 45px 0; }
	.sm3 { display: block;clear: both; padding: 30px 0; }




	@keyframes bounce_h{0%,20%,50%,80%,100%{transform:translateX(0)}40%{transform:translateX(-8px)}60%{transform:translateX(-4px)}}
	@keyframes bounce_h_2{0%,20%,50%,80%,100%{transform:translateX(0)}40%{transform:translateX(8px)}60%{transform:translateX(4px)}}
	@keyframes bounce_v{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(-8px)}60%{transform:translateY(-4px)}}
	@keyframes bounce_v_2{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(8px)}60%{transform:translateY(4px)}}
	@keyframes bounce_h_subtle{0%,20%,50%,80%,100%{transform:translateX(0)}40%{transform:translateX(-4px)}60%{transform:translateX(-2px)}}
	@keyframes bounce_h_subtle_2{0%,20%,50%,80%,100%{transform:translateX(0)}40%{transform:translateX(4px)}60%{transform:translateX(2px)}}
	@keyframes bounce_v_subtle{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(-4px)}60%{transform:translateY(-2px)}}
	@keyframes bounce_v_subtle_2{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(4px)}60%{transform:translateY(2px)}}

	.bounce-h {animation:bounce_h 3s infinite;display:inline-block}
	.bounce-h-2 {animation:bounce_h_2 3s infinite;display:inline-block}
	.bounce-v {animation:bounce_v 3s infinite;display:inline-block}
	.bounce-v-2 {animation:bounce_v_2 3s infinite;display:inline-block}
	.bounce-h-subtle {animation:bounce_h_subtle 3s infinite;display:inline-block}
	.bounce-h-subtle-2 {animation:bounce_h_subtle_2 3s infinite;display:inline-block}
	.bounce-v-subtle {animation:bounce_v_subtle 3s infinite;display:inline-block}
	.bounce-v-subtle-2 {animation:bounce_v_subtle_2 3s infinite;display:inline-block}



	.section { 
		padding: 100px 0; 
		position: relative; 
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		overflow: hidden;
	}
		.section.br-0 { border-radius: 0; }
		.section.comp { padding: 30px 0; }

		.section.border-section { margin: 15px; }

		.section.image-bg {
			overflow: hidden;
		}
			.section.image-bg .bg-image {
				position: absolute;
				opacity: 0.5;
				top: 0;
				left: 0;
				width: 120%;
				height: 100%;
				background-position: center center;
				background-size: cover;
				z-index: 1;
			}

			.section.image-bg .image-bg-content { position: relative; z-index: 30; }

		.image-bg-callout {}
			.image-bg-callout h3 {
				font-weight: 300;
				font-size: 1.3em;
			}
			.image-bg-callout h2 {
				line-height: 1.3;
				margin: 25px 0;
			}

	.dunderline {
		position: relative;
	}
		.dunderline:after {
			display: block;
			position: absolute;
			bottom: -25px;
			background-size: 300px 20px;
			content: '';
			left: 0;
			width: 100%;
			height: 20px;
			background-repeat: no-repeat;
			background-size: 100%;
		}
			.dunderline.lg:after { bottom: -10px;  }
			.dunderline.dunderline-yellow:after { background-image: url(https://cdn.shopify.com/s/files/1/0484/0197/3406/t/4/assets/bgj-underline-yellow.svg?v=15997432898900578113); }
			.dunderline.dunderline-red:after { background-image: url(//cdn.shopify.com/s/files/1/0484/0197/3406/t/5/assets/bgj-underline-red.svg?v=46517369199981952031613071519); }
			.dunderline.dunderline-blue:after { background-image: url(//cdn.shopify.com/s/files/1/0484/0197/3406/t/5/assets/bgj-underline-blue.svg?v=103227429497503962181613071518); }
			.dunderline.dunderline-green:after { background-image: url(https://cdn.shopify.com/s/files/1/0484/0197/3406/t/4/assets/bgj-underline-green.svg?v=17247751692480582089); }

	.img-box {
		border: 8px solid #fff;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		box-shadow: rgba(22, 31, 39, 0.3) 0px 60px 80px -25px,
	    		rgba(19, 26, 32, 0.08) 0px 20px 40px -35px;
	}

	.feature-img-left {
		position: relative;
		left: -30px;
	}
	.feature-img-right {
		position: relative;
		right: -30px;
	}

	.circle-icon {
		display: inline-block;
		width: 48px;
		height: 48px;
		margin-left: auto;
		margin-right: 0;
		position: relative;
	}
		.circle-icon img {
			width: 100%;
			height: 100%;
		}
		.circle-icon:after {
			display: block;
			position: absolute;
			top: 9px;
			left: 9px;
			content: '';
			background: rgba(64, 169, 216, 0.3);
			border-radius: 50px;
			width: 40px;
			height: 40px;
		}
		.circle-icon.circle-icon-sm {
			width: 36px;
			height: 36px;
		}
			.circle-icon.circle-icon-sm:after {
				width: 28px;
				height: 28px;
				top: 8px;
				left: 8px;
			}


	#user-shots { 
		padding: 200px 0 50px;
		position: relative;
		min-height: 600px;
		max-height: 1500px;
	}
		#user-shots #social-callout {
			
			position: relative;
			z-index: 30;
		}

		#user-shots #user-img-wrap {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			padding: 15px;
			z-index: 5;
		}
		#user-shots #user-images {
			column-count: 4;
			column-gap: 15px;
		}
			#user-shots #user-images .user-img { 
				margin-bottom: 15px;
				opacity: 1;
				position: relative;
			}
				#user-shots #user-images .user-img img {
					max-width: 100%; 
					width: 100%;
				}
				#user-shots #user-images .user-img:after {
					display: block;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgb(210 59 198 / 0.32);
				}

				
		#user-shots #user-ba {
			position: relative;
			z-index: 20;
			text-align: center;
		}
			#user-shots #user-ba img {
				max-width: 400px;
				margin-bottom: 100px;
				border: 10px solid #fff;
				border-radius: 10px;
				box-shadow: 0px 3px 25px 10px rgb(0 0 0 / 30%);
				position: relative;
			}
				#user-shots #user-ba img.img-left {
					left: -40%;
					transform: rotate(5deg);
				}
				#user-shots #user-ba img.img-right {
					right: -40%;
					transform: rotate(-5deg);
				}
			#user-shots #user-ba img:last-child { margin-bottom: 0; }
		


	.callout-box {
    	position: relative;
    	z-index: 30;
	}
		.callout-box .callout-inner {
			display: block;
			background: #fff;
			padding: 30px 20px;
			box-shadow: rgba(22, 31, 39, 0.2) 0px 60px 80px -25px,
	    		rgba(19, 26, 32, 0.05) 0px 35px 50px -35px;
	    	border-radius: 5px;
	    	-moz-border-radius: 5px;
	    	-webkit-border-radius: 5px;
	    	position: relative;
	    	z-index: 30;
		}
		.callout-box:after {
			z-index: 25;
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			background: #88af59;
			width: 100%;
			height: 100%;
			border-radius: 5px;
	    	-moz-border-radius: 5px;
	    	-webkit-border-radius: 5px;
		}
		.callout-box h2 { margin: 0; line-height: 1.7; font-size: 30px; }

		.callout-box .callout-arrows {
			position: absolute;
			bottom: -30px;
			left: 50%;
			margin-left: -30px;
		}


		.animated-arrows {
			width: 60px;
			height: 60px;
			position: relative;
			overflow: hidden;
			display: inline-block;
			background: #fff;
			border-radius: 50px;
		}
			.animated-arrows svg {
				width: 24px;
				height: 24px;
				position: absolute;
				opacity: 0;
				left: 50%;
				margin-left: -12px;
				margin-top: -12px;
				-webkit-animation: infinite_fall 2s infinite; /* Safari 4+ */
				-moz-animation:    infinite_fall 2s infinite; /* Fx 5+ */
				-o-animation:      infinite_fall 2s infinite; /* Opera 12+ */
				animation:         infinite_fall 2s infinite; /* IE 10+, Fx 29+ */
				animation-timing-function: linear
			}
				.animated-arrows svg.second {
					animation-delay: 1s;
				}


		@keyframes infinite_fall {
		  0% { opacity: 0; top: 0%; }
		  50% { opacity: 1; top: 50%:; }
		  100% { opacity: 0; top: 100%; }
		}


	.rating-block {
		font-size: 18px;
	}
		.rating-block .star-rating {
			background-image: url(//cdn.shopify.com/s/files/1/0484/0197/3406/t/5/assets/bgj-icon-star-pale.svg?v=112629074202468746701613071495);
			background-repeat: repeat-x;
			display: inline-block;
			width: 125px;
			height: 25px;
			background-size: 25px 25px;
			position: relative;
			top: 5px;
			margin-right: 5px;
		}
			.rating-block .star-rating.star-4-5 .stars {
				position: absolute;
				width: 94%;
				background-image: url(https://cdn.shopify.com/s/files/1/0484/0197/3406/t/4/assets/bgj-icon-star.svg?v=16698058344870628227);
				background-repeat: repeat-x;
				background-size: 25px 25px;
				top: 0;
				left: 0;
				height: 100%;
				content: '';
			}

/* list-wrapper */

.list-wrapper {
	max-width: 800px;
	margin: 20px auto;
}

.list-wrapper h3 {
	text-align: left;
	position: relative;
	padding-left: 55px;
	margin-bottom: 28px;
}

			.list-wrapper h3:before {
				font-family: "FontAwesome";
				font-size: 27px;
				line-height: 44px;
				color: #ffffff;
				content: "\f061";
				text-align: center;
				/* vertical-align: middle; */
				/* padding: 5px 8px; */
				margin: 0 15px 0 -15px;
				position: absolute;
				top: 1px;
				left: 8px;
				background: #8b0901;
				border-radius: 50px;
				width: 44px;
				height: 44px;
				box-sizing: border-box;
			}

/* End list-wrapper */

	.styled-list {
		margin: 20px 0;
		padding: 0;
	}
		.styled-list li {
			list-style-type: none;
			padding: 9px 0 9px 40px;
			position: relative;
			font-size: 20px;
		}
			.styled-list li:before {
				display: inline-block;
				position: absolute;
				top: 9px;
				left: 0;
				width: 30px;
				height: 30px;
				content: '';
				background: url(https://cdn.shopify.com/s/files/1/0484/0197/3406/t/4/assets/bgj-icon-circle-check.svg?v=8346877348104371197);
				background-size: 30px 30px;
				background-position: 0px 0px;
				z-index: 10;
			}
			.styled-list li:after {
				display: inline-block;
				position: absolute;
				top: 16px;
				left: 5px;
				width: 24px;
				height: 24px;
				content: '';
				background: lightblue;
				z-index: 5;
				border-radius: 20px;
				opacity: 0.5;
			}

	.jar-shadow {

	}

	.price-box {
		font-size: 48px;
		font-weight: 900;
		vertical-align: middle;
		text-align: left;
		padding-left: 30px;
	}
		.price-box sup { font-weight: 100; font-size: 20px; top: -25px; }
		.price-box strong { display: inline-block;margin: 0 5px; }
		.price-box sub { font-weight: 100; font-size: 20px; }

	.buy-btn {
		background: #e3c600;
		color: #fff;
		font-size: 24px;
		font-weight: bold;
		display: block;
		padding: 15px 10px;
		border: none;
		border-bottom: 3px solid rgba(0,0,0,0.1);
		position: relative;
		cursor: pointer;
	}
		.buy-btn .icon-arrows-right {
			display: inline-block;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			margin-top: -15px;
			right: 10px;
			background-image: url(https://cdn.shopify.com/s/files/1/0484/0197/3406/t/4/assets/bgj-icon-double-chevron.svg?v=272961090875963728);
			background-size: 30px 30px;
			background-position: 0px 0px;
		}
		.buy-btn.btn-warning:hover {
			background: #cdb300;
			color: #fff;
			border-color: rgba(0,0,0,0.1);
		}

	.social-proof {
		text-align: center;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		display: flex;
	}
		.social-proof img {
			max-width: 225px;
			max-height: 100px;
			height: auto;
			width: auto;
			margin: 10px 20px;
			opacity: 0.7;
		}

	.social-ratings {
		text-align: center;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		display: flex;
	}
		.social-ratings img {
			max-width: 200px;
			max-height: 100px;
			height: auto;
			width: auto;
			opacity: 0.5;
		}

	.green-circle-number {
		background: #88af59;
	    width: 100px;
	    height: 100px;
	    text-align: center;
	    line-height: 100px;
	    line-height: 100px;
	    font-size: 50px;
	    font-weight: 900;
	    color: #fff;
	    border-radius: 100px;
	    border-bottom: 4px solid rgba(0,0,0,0.1);
	}

	.word-swap { display: inline-block; }
		.word-swap .item { display: none; }
			.word-swap .item.active { display: block; }



	#hero { 
		padding: 20px 0; 
		overflow: visible; 
		position: relative;
		z-index: 30;
	}
		#hero-content { 
			margin: 10px 0 40px 0;
			padding-right: 60px; 
		}

		@keyframes JarUpDown {
		  0%, 100% { transform: translateY(0);}
		  50% { transform: translateY(-12px); }
		}
		@keyframes ShadowUpDown {
		  0%, 100% { transform: translateY(0) scale(1); opacity: 1;}
		  50% { transform: translateY(3px) scale(0.8); opacity: 0.9; }
		}

		#hero-image {
			margin-left: -80px;
			margin-bottom: -120px;
			
		}
			#hero-image img.green-juice {
				max-width: 85%;
				position: relative;
				z-index: 40;
				animation: JarUpDown 4s linear infinite;
			}
			#hero-image .green-juice-shadow {
				position: relative;
				z-index: 30;
				max-width: 90%;
				animation: ShadowUpDown 4s linear infinite;
			}
		#hero-content h4 { margin-top: 30px; font-size: 24px; }
		#hero-content h1 {
			font-size: 38px;
			margin: 20px 0;
		}



	.img-para-wrap {
		padding: 100px 0;
		position: relative;
	}
		.img-para-wrap .img-para {
			position: absolute;
			max-width: 500px;
			z-index: 10;
		}
			.img-para-wrap .img-para.img-para-1 {
				left: -10px;
				transform: rotate(2deg);
				top: 0;
			}
			.img-para-wrap .img-para.img-para-2 {
				right: -10px;
				transform: rotate(-1deg);
				top: 0;
			}
		.img-para-wrap .img-para-content {
			position: relative;
			z-index: 30;
		}
		.img-para-wrap .img-para.img-sm {
			max-width: 400px;
			max-height: 400px;
		}
	.img-rotate-1 { transform: rotate(3deg); }
	.img-rotate-2 { transform: rotate(-3deg); }





	#before-after-drew {
		padding: 40px 0 100px 0;
		text-align: center;
	}
		#before-after-drew .before { position: relative; }
		#before-after-drew .after { position: relative; top: 80px; }

	#drew-news {
		position: relative;
		z-index: 25;
	}
	#drew-juicing-book {
		position: relative;
		right: -100px;
		z-index: 30;
	}


	.red-box {
		font-size: 72px;
		font-weight: 800;
		padding: 15px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}


	#ingredients {
		position: relative;
	}
		#ingredients .ingredient {
			text-align: center;
			margin-bottom: 30px;
		}
			#ingredients .ingredient .img-wrap {
				margin: 0 auto;
				max-width: 300px;
				border: 8px solid #fff;
				border-radius: 300px;
				overflow: hidden;
				box-shadow: 1px 10px 20px rgba(0,0,0,0.1);
			}
				#ingredients .ingredient .img-wrap.active {
					opacity: 0.3;
				}
				#ingredients .ingredient .img-wrap img {
					width: 100%;
				}
			#ingredients .ingredient .ing-content {
				position: relative;
				z-index: 40;
			}
			#ingredients .ingredient h4 {
				font-weight: bold;
				margin: 10px 0 0 0;
			}
			#ingredients .ingredient .sub {
				line-height: 1.2;
				font-size: 18px;
				max-width: 300px;
				margin: 0 auto;
			}

		#ingredients #ing-hl-2 { 
			position: relative;
			z-index: 30; 
		}

		#ingredients #ing-jar {
			width: 500px;
			margin: 0 auto;
			text-align: center;
			/* padding-top: 80px; */
		}

			#ingredients #ing-jar .lid {
				position: relative;
				z-index: 30;
				bottom: -45px;
			}
			#ingredients #ing-jar .jar {
				position: relative;
				z-index: 20;
			}
			#ingredients #ing-jar .green-juice-shadow {
				width: 110%;
				position: relative;
				left: -5%;
			}



	.testi-vid {
		display: inline-block;
		position: relative;
		margin-bottom: 40px;
		cursor: pointer;
	}
		.testi-vid .play-button {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -50px;
			margin-top: -50px;
			background: rgba(0,0,0,0.7);
			border-radius: 80px;
			display: block;
			box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
			transition: 0.2s ease all;
			-moz-transition: 0.2s ease all;
			-webkit-transition: 0.2s ease all;
		}
			.testi-vid:hover .play-button {
				margin-top: -55px;
			}
			.testi-vid .play-button:after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 20px 0 20px 40px;
				border-color: transparent transparent transparent #ffffff;
				position: absolute;
				content: '';
				top: 30px;
				left: 30px;
				box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
			}

	#testimonials.section { padding-bottom: 0; }

	#amz-reviews-wrap {

	}
		#amz-reviews-wrap h2 {
			display: inline-block;
			padding: 15px;
			margin: 0 auto;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			position: relative;
			z-index: 40;
		}
	#amz-reviews {
		text-align: center;
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
	}
		#amz-reviews img {
			margin: 0 0 100px 0;
			opacity: 1.0;
			position: relative;
			z-index: 20;
			border-radius: 10px;
			border: 8px solid #fff;
			width: 30%;
			height: auto;
			max-width: 450px;
			height: auto;
			box-shadow: 0px 5px 25px rgba(0,0,0,0.3);
		}


			#amz-reviews img:nth-child(odd) { transform: rotate(5deg); }
			#amz-reviews img:nth-child(even) { transform: rotate(-5deg); }
			#amz-reviews img:nth-child(3n+1) { }
			#amz-reviews img:nth-child(3n+2) { top: 150px; }
			#amz-reviews img:nth-child(3n+3) { top: 80px; }




	.call-to-action {
		padding-bottom: 0;
	}
		.call-to-action .cta-feature-img {
			display: block;
			margin: -50px 0 -150px;
			position: relative;
			left: -60px;
		}
			.call-to-action .cta-feature-img img.green-juice {
				animation: JarUpDown 4s linear infinite;
			}
			.call-to-action .cta-feature-img .green-juice-shadow {
				animation: ShadowUpDown 4s linear infinite;
			}
		.call-to-action .cta-feature-img .green-juice-shadow { max-width: 115%; }

		.call-to-action .cta-lower {
			display: block;
			background: rgba(0,0,0,0.08);
		}

		.circle-badges {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding: 40px 0;
			flex-wrap: wrap;

		}
			.circle-badges .circle-badge {
				background: #E47A96;
				display: inline-block;
				color: #fff;
				width: 100px;
				height: 100px;
				border-radius: 100px;
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
				font-weight: 600;
				padding: 0 10px;
				font-size: 16px;
				line-height: 1.2;
				display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    text-transform: uppercase;
			    box-shadow: 5px 15px 20px rgb(0 0 0 / 10%);
			}

	#pricing { padding-top: 50px; }

			.play-btn {
				background: #88af59;
				padding: 20px;
				color: #fff;
				font-weight: bold;
				margin-bottom: 16px;
				display: inline-block;
			}

	#coin-stack {
		position: relative;
		height: 300px;
	}
		#coin-stack .coin {
			position: absolute;
		}
			#coin-stack .coin.coin-1,
			#coin-stack .coin.coin-2,
			#coin-stack .coin.coin-3 {
				left: 40%;
			}
				#coin-stack .coin.coin-1 { bottom: 0px; z-index: 10; }
				#coin-stack .coin.coin-2 { bottom: 15px; left: 41%; z-index: 20; }
				#coin-stack .coin.coin-3 { bottom: 30px; z-index: 30; }
			#coin-stack .coin.coin-4,
			#coin-stack .coin.coin-5,
			#coin-stack .coin.coin-6 {
				left: 50%;
			}
				#coin-stack .coin.coin-4 { bottom: 0px; z-index: 10; }
				#coin-stack .coin.coin-5 { bottom: 15px; left: 52%; z-index: 20; }
				#coin-stack .coin.coin-6 { bottom: 30px; z-index: 30; }

			#coin-stack .coin.coin-7 {
				left: 45%;
				bottom: 45px;
				z-index: 40;
				transform: scale(0.8);
			}


	#pricing-table { margin: 40px 0; }
		#pricing-table .pricing-column {
			background: #fff;
			padding: 0px;
			position: relative;
			box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
			z-index: 20;
			transition: 0.2s ease all;
			-moz-transition: 0.2s ease all;
			-webkit-transition: 0.2s ease all;
		}
			#pricing-table .pricing-column .column-feature {
				display: block;
				position: absolute;
				top: -10px;
				left: 10%;
				width: 80%;
				font-size: 16px;
				text-transform: uppercase;
				box-shadow: 1px 3px 15px rgba(0,0,0,0.1);
				border-radius: 5px;
				line-height: 1;
				padding: 10px 5px;
			}

			#pricing-table .pricing-column.featured {
				margin: -20px 0;
				z-index: 30;
			}
				#pricing-table .pricing-column.featured .upper-block { padding-top: 40px; }
				#pricing-table .pricing-column.featured .lower-block { padding-bottom: 50px; }

			#pricing-table .pricing-column:hover {
				z-index: 40;
			}
			#pricing-table .pricing-column .upper-block {
				display: block;
				color: #333;
				text-decoration: none;
				padding: 20px 0;
			}
				#pricing-table .pricing-column .upper-block h4 { font-weight: bold; }
			#pricing-table .pricing-column .lower-block {
				padding: 30px 20px;
				background: rgba(0,0,0,0.03);
			}
			#pricing-table .pricing-column .price-box {
				padding-left: 0;
				text-align: center;
			}



	#faq-wrap { padding: 10px 25px 25px 25px; }
		#faq-wrap h3 {
			padding: 30px 0 0 0;
		}
		#faq-wrap .faq {
			margin: 15px 0 0 0;
			padding: 15px 0 0 0;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
			#faq-wrap .faq .faq-q h4 { margin: 0; font-size: 18px; line-height: 1.4; font-weight: 500; position: relative; padding-right: 25px; cursor: pointer; }
				#faq-wrap .faq .faq-q h4:after {
					display: block;
					content: '+';
					font-weight: 300;
					position: absolute;
					right: 0;
					top: 0;
					font-size: 24px;
					color: #999;
					transition: 0.2s ease all;
					-moz-transition: 0.2s ease all;
					-webkit-transition: 0.2s ease all;
					transform: rotate(0deg);
				}
					#faq-wrap .faq .faq-q:hover h4:after { right: 2px; }
					#faq-wrap .faq .faq-q.opened h4:after { transform: rotate(45deg); }

			#faq-wrap .faq .faq-a { font-size: 18px; padding-left: 30px; font-style: italic; display: none; }
				#faq-wrap .faq .faq-a p { margin: 0; padding: 10px 0 0 0; }





@media(min-width: 1200px){

}


@media(max-width: 992px){

	.sl3 { padding: 125px 0; }

	.d-lg-none { display: none; }

	.text-glow { text-shadow: 2px 3px 20px rgb(255 255 255); }

	.container { max-width: 95%; }
	
	.callout-box h2  { line-height: 1.3; }

	#hero-content { padding-right: 0; }

	#user-shots { padding-top: 75px; }

	#user-shots #user-images { column-count: 3; }
		#user-shots #user-ba img {
			max-width: 500px;
			max-height: 500px;
			height: auto;
		}
		#user-shots #user-ba img.img-left { left: -25%; }
		#user-shots #user-ba img.img-right { right: -25%; }

	.img-para-wrap .img-para { max-width: 300px; }

	#hero-image {
		margin: 0 auto;
		text-align: center;
	}
		#hero-image img.green-juice {
			max-width: 350px;
		}
		#hero-image .green-juice-shadow {
			max-width: 450px;
		    display: block;
		    clear: both;
		    margin: 0 auto;
		}


	#team-juicing {}
		#team-juicing img {
			max-width: 400px;
		}

	.feature-img-left { left: 0; max-width: 400px; }
	.feature-img-right { right: 0; max-width: 400px; }

	.img-para-wrap .img-para.img-sm { max-width: 300px; max-height: 300px; }

	#pricing-table .pricing-column { margin-bottom: 40px; }
	#pricing-table .pricing-column.featured { margin: 0 0 40px 0; }
		#pricing-table .pricing-column .upper-block h4 {
			font-size: 36px;
			text-align: left;
			margin-top: 30px;
		}

}

@media(min-width: 767px){


	.text-md-left { text-align: left !important; }


}

@media(max-width: 767px){

	body { font-size: 22px; }

	.sl1 { display: block;clear: both; padding: 300px 0; }
	.sl2 { display: block;clear: both; padding: 200px 0; }
	.sl3 { display: block;clear: both; padding: 100px 0; }
	.sl4 { display: block;clear: both; padding: 0px 0; }

	h3.larger { font-size: 1.3em; }


	.social-ratings img { max-width: 130px; }

	.dunderline:after { bottom: -17px; }

		
	.section { padding: 70px 0px; }

	.price-box { text-align: center; padding-left: 0; }

	#hero-image img.green-juice { max-width: 200px; }
	#hero-image .green-juice-shadow { max-width: 300px; }

	#hero-content { text-align: center; }
		#hero-content h4 { margin-top: 0; }
		#hero-content h1 { font-size: 26px; margin-top: 0; }
		#hero-content .styled-list { text-align: left; }
			#hero-content .styled-list li { font-size: 18px; }

	.social-proof {}
		.social-proof img { margin: 0 10px; max-width: 190px;  max-height: 800px; }

	#user-shots #user-images { column-count: 2; }

	.img-para-wrap {
		padding: 360px 0 65px;
		position: relative;
	}
		.img-para-wrap .img-para.img-para-1 { top: 0;left: 0; margin: 0 auto; }
		.img-para-wrap .img-para.img-para-2 { top: 50px;right: 0; margin: 0 auto; }

		.img-para-wrap .img-para-content-box {
			background: #fff;
		    padding: 15px;
		    border-radius: 10px;
		    box-shadow: 0px 5px 30px rgb(0 0 0 / 30%);
		    position: relative;
		    z-index: 30;
		}
			.img-para-wrap .img-para-content {
				padding: 0;
			}
			.img-para-wrap .img-para-content:after {
				display: block;
				content: '';
				position: absolute;
				top: 10px;
				left: 10px;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				background: #88af59;
				z-index: 10;
			}

	#juicing-popular { padding-top: 80px; }

	#before-after-drew { padding-bottom: 0; }
		#before-after-drew .before { left: -15%; }
		#before-after-drew .after { right: -15%; top: -100px; }

	#drew-juicing-book { 
		right: 0;
	}

	#ingredients #ing-jar {
		width: 80%;
	}

	#sticky-buy { 
		padding: 10px 0; 
		position: relative;
		z-index: 80; 
		border-bottom-left-radius: 10px; 
		border-bottom-right-radius: 10px; 
	}
		#sticky-buy.active {
			box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
		}

	#amz-reviews {
		width: auto;
	}
		#amz-reviews-wrap h2 { width: 104%; left: -2%; }
		#amz-reviews img { max-width: 100%; width: 100%; margin-bottom: 30px; }

			#amz-reviews img:nth-child(odd) { transform: rotate(10deg); }
			#amz-reviews img:nth-child(even) { transform: rotate(-10deg); }
			#amz-reviews img:nth-child(3n+1) { }
			#amz-reviews img:nth-child(3n+2) { top: 0px; }
			#amz-reviews img:nth-child(3n+3) { top: 0px; }

	.red-box { font-size: 48px; }

	.section.image-bg { padding: 0; }

	.feature-img-left, .feature-img-right { max-width: 320px !important; display: block; margin: 0 auto; }

	.circle-badges .circle-badge { margin-bottom: 15px; }

	.section.call-to-action { padding-bottom: 0; }
	.call-to-action .cta-feature-img {left: 0; text-align: center; margin: 0;}
		.call-to-action .cta-feature-img .green-juice {
			max-width: 250px;
		}
		.call-to-action .cta-feature-img .green-juice-shadow {
			max-width: 300px;
			display: block;
			margin: 0 auto;
		}
		.call-to-action .buy-btn { max-width: 90%; margin: 0 auto; }

}

@media(max-width: 576px){

	h2 { font-size: 1.2em; }
	h2.larger { font-size: 1.3em; }
	h3 { font-size: 1.2em; }
	h4 { font-size: 1em; }

	.buy-btn { padding: 10px; }

	.social-ratings img { max-width: 140px; }

	.callout-box h2 { font-size: 26px; }

	.price-box { font-size: 36px; }

	.section {padding: 50px 0;}

	#hero-image img.green-juice { max-width: 180px; }
	#hero-image .green-juice-shadow { max-width: 250px; }

	#hero-content h1 { margin-bottom: 0; } 

	#user-shots #user-ba img.img-left { max-width: 90%; left: 0; margin-bottom: 50px; }
	#user-shots #user-ba img.img-right { max-width: 90%; right: 0; margin-bottom: 50px; }

	.social-proof img { max-width: 140px; }

	#team-juicing img { max-width: 90%; }

	.green-circle-number {
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 40px;
	}

	.words-stack .stack .last {
		position: relative;
		top: 30px;
	}

	.section.call-to-action { padding-bottom: 0; }


	#coin-stack .coin.coin-1,
	#coin-stack .coin.coin-2,
	#coin-stack .coin.coin-3 {
		left: 15%;
	}
		#coin-stack .coin.coin-1 { bottom: 0px; z-index: 10; }
		#coin-stack .coin.coin-2 { bottom: 15px; left: 17%; z-index: 20; }
		#coin-stack .coin.coin-3 { bottom: 30px; z-index: 30; }
	#coin-stack .coin.coin-4,
	#coin-stack .coin.coin-5,
	#coin-stack .coin.coin-6 {
		left: 50%;
	}
		#coin-stack .coin.coin-4 { bottom: 0px; z-index: 10; }
		#coin-stack .coin.coin-5 { bottom: 15px; left: 52%; z-index: 20; }
		#coin-stack .coin.coin-6 { bottom: 30px; z-index: 30; }

	#coin-stack .coin.coin-7 {
		left: 35%;
		bottom: 45px;
		z-index: 40;
		transform: scale(0.8);
	}
	
	#pricing-table .pricing-column .upper-block h4 { font-size: 22px; margin: 10px 0;}
		#pricing-table .pricing-column .upper-block img { margin-left: -25px; }


	.img-para-wrap .img-para.img-para-2 { top: -40px; }


}


